.w-01{
  width:12%;
}
.w-sma{
  width:20%;
  height:20%;
}

.ull{
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  
}
.borderr{
  border-color: #DCA231;
  border-width: 5px;
  
}
.w-90{
  width:90%;
}

.ulll{
  display: inline-block;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  width:40%;
}


