@import url('https://fonts.googleapis.com/css2?family=Post+No+Bills+Colombo:wght@800&display=swap');

.w-01{
  width:12%;
  
}
.w-sma{
  width:20%;
  height:20%;
}

.ull{
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  
}
.borderr{
  border-color: #DCA231;
  border-width: 5px;
  
}
.congrats{
  font-family:'Inter', sans-serif;
  color:#076717;
  
}
.w-90{
  width:90%;
}

.congratss{
  font-family:'Inter', sans-serif;
}
.ulll{
  display: inline-block;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  width:40%;
}
@font-face {
  font-family: 'Post No Bills Colombo';
  src: url('./PostNoBillsColombo-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

.gamefont {
  font-family: 'Post No Bills Colombo', sans-serif;
  font-weight: 800;
  color: #076717;
}
.buttton{
  background-color: #DCC131;
  color:black;
  font-family:'Post No Bills Colombo', sans-serif;
  font-weight:800;
  
}


