.body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../../assets/leaderBoard_image_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.out {
  background-image: url('../../assets/leaderBoard_tree_board.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .out {
    background-image: url('../../assets/leaderBoard_tree_board_sm.png');
  }
}